<h1>OAuth</h1>

<% if current_user %>
<p>YOU ARE LOGGED IN</p>
<%= link_to 'logout', '/auth/logout' %>
<%= link_to 'logout of Battle.net', 'http://battle.net/login/logout' %>
<p><%= @response.body %></p>
<% else %>
<%= link_to 'login', '/auth/bnet' %>
<% end %>