<div ng-app="app">
  <div ng-controller="ProfileIndexCtrl">
    <p>{{ name }}</p>
    <p>{{ id }}</p>
  </div>

  <div ng-controller="MatchesIndexCtrl">
    <div class="row">
      <table>
        <thead>
          <tr>
            <td>Date</td>
            <td>Decision</td>
            <td>Map</td>
            <td>Speed</td>
            <td>Type</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="match in matches">
            <td>{{ match.date }}</td>
            <td>{{ match.decision }}</td>
            <td>{{ match.map }}</td>
            <td>{{ match.speed }}</td>
            <td>{{ match.type }}</td>
          </tr>  
        </tbody>
      </table>
    </div>
    </div>
  </div>

</div>

