<div ng-app="app">
  <div ng-controller="ProfileIndexCtrl">
    <p>{{ name }}</p>
    <p>{{ id }}</p>
  </div>

  <div ng-controller="MatchesIndexCtrl">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-click="setFilter('date')">Date</th>
              <th ng-click="setFilter('decision')">Decision</th>
              <th ng-click="setFilter('map')">Map</th>
              <th ng-click="setFilter('speed')">Speed</th>
              <th ng-click="setFilter('type')">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="match in matches | orderBy: filterString">
              <td>{{ match.date * 1000 | date: 'MMM dd yyyy hh:mm a'}}</td>
              <td>{{ match.decision }}</td>
              <td>{{ match.map }}</td>
              <td>{{ match.speed }}</td>
              <td>{{ match.type }}</td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

