<div ng-app="app">
  <div ng-controller="ProfileIndexCtrl">
    <p>{{ name }}</p>
    <p>{{ id }}</p>
  </div>

  <div ng-controller="MatchesIndexCtrl">
    <div>{{ matches }}</div>
  </div>

</div>

